body{
    width: 1440px;
}
.gallery{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
    column-gap: 24px;
}
.gallery-image{
    width: 360px;
    height: 200px;
    transition: transform 0.4s ease-out;
}
.gallery-item {
    width: calc((100% - 48px) / 3);
    width: 360px;
}
.gallery-item:hover .gallery-image {
    transform: scale(1.1);
}